/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/dark-mode";
@import "minima/fastpages-dracula-highlight"; 


.site-header {
    border-bottom: 0px;
}
// .site-title {
//     color: #42424200 !important;
//     background-image: url("/images/logo.png");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
// }
// .site-title:hover{
//     background-color: #ffdead00;
//     color: #ffdead00 !important;
// }
// .search-button{
//     background: url(https://image.flaticon.com/icons/svg/882/882988.svg);
//     background-color: #ffdead00;
//     color: #ffdead00 !important;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
//     filter: opacity(0.7);
// }


// .side-project-button{
//     background: url(https://image.flaticon.com/icons/svg/900/900813.svg);
//     background-color: #ffdead00;
//     color: #ffdead00 !important;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
//     filter: opacity(0.7);
// }

// .tags-button{
//     background: url(https://image.flaticon.com/icons/svg/758/758658.svg);
//     background-color: #ffdead00;
//     color: #ffdead00 !important;
//     /* background-image: url(/images/logo.png); */
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
//     filter: opacity(0.7);
// }

// .search-button:hover, .side-project-button:hover, .tags-button:hover{
//     filter: opacity(1);
//     color: #ffdead00 !important;
// }
.Box {
    box-shadow: none !important;
    border: none !important;
}
img.image-preview{
    // transition-delay: 1s;
    transition: width 0.3s, height 0.3s, transform 0.3s;
    width: 100%;
    height: auto;
}
img.image-preview:hover {
    transform: scale(1.05);
    // transition: width 2s, height 2s;
    // transition-timing-function: ease;
}
.site-footer{
    border: none;
}
.feed-subscribe .svg-icon {
    padding: 0px;
    margin-right: 5px;
}

.social-links::after {
    content: "akdux";
    clear: both;
    display: table;
    color: #808080cf;
    font-size: xx-small;
    margin: auto;
    white-space: pre;
    text-align: center;
}
.social-links ul.social-media-list {
    display: none;
}
.footer-col-wrapper {
    display: none !important;
}

.home-button-tag{
    opacity: .4;
}
.home-button-tag:hover{
    opacity: 1;
}